.footer {
	background-color: #343a40;
	padding-top: 20px;
	padding-bottom: 20px;
	.container {
		max-width: $max-width;
	}
	.nav {
		.nav-item {
			a {
				color: #fff;
				font-size: 18px;
				transition: .3s;
				&:hover {
					color: #28a745;
				}
			}
			&.active {
				a {
					color: #fff;
					font-weight: 600;
				}
			}
		}
	}
	.copy {
		color: #fff;
		text-align: center;
		font-size: 16px;
		margin-top: 20px;
	}


}